# Задание № 1

In [4]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
URL = 'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv'
res = requests.get(URL)
df = pd.DataFrame({'surgery?': [],'Age':[], 'rectal temperature': [], 'pulse': [], 'respiratory rate' : [], 'temperature of extremities' : [], 'pain' : [], 'outcome' : [] })
soup = BeautifulSoup(res.text)
rows = res.text.split('\n') 
rows[0].split(',')
for row in rows:
    df_str = row.split(',')
    df.loc[len(df)] = [df_str[0], df_str[1], df_str[3], df_str[4], df_str[5], df_str[6], df_str[10], df_str[22] ]
for j in df.columns:
    df[j] = pd.to_numeric(df[j], errors='coerce' )
df.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  299.000000  300.000000          240.000000  276.000000        242.000000                  244.000000  245.00000  299.000000
mean     1.397993    1.640000           38.167917   71.913043         30.417355                    2.348361    2.95102    1.551839
std      0.490305    2.173972            0.732289   28.630557         17.642231                    1.045054    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         18.500000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.200000   64.000000         24.500000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   88.000000         36.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

# Задание № 2

In [186]:
print('mean')
for j in df.columns:
    print( j,':', df[j].mean())
print('\n median')
for j in df.columns:
    print( j,':',df[j].median())
print('\n mode')
for j in df.columns:
    print(j,':',df[j].mode())
print('\n std')
for j in df.columns:
    print(j,':',df[j].std())
print('\n var')
for j in df.columns:
    print(j,':',df[j].var())

mean
surgery? : 1.3979933110367893
Age : 1.64
rectal temperature : 38.16791666666669
pulse : 71.91304347826087
respiratory rate : 30.417355371900825
temperature of extremities : 2.348360655737705
pain : 2.951020408163265
outcome : 1.5518394648829432

 median
surgery? : 1.0
Age : 1.0
rectal temperature : 38.2
pulse : 64.0
respiratory rate : 24.5
temperature of extremities : 3.0
pain : 3.0
outcome : 1.0

 mode
surgery? : 0    1.0
dtype: float64
Age : 0    1
dtype: int64
rectal temperature : 0    38.0
dtype: float64
pulse : 0    48.0
dtype: float64
respiratory rate : 0    20.0
dtype: float64
temperature of extremities : 0    3.0
dtype: float64
pain : 0    3.0
dtype: float64
outcome : 0    1.0
dtype: float64

 std
surgery? : 0.49030464432881815
Age : 2.1739719055576163
rectal temperature : 0.7322886641121578
pulse : 28.630556660735003
respiratory rate : 17.642231385134664
temperature of extremities : 1.0450536920112758
pain : 1.3079395711243502
outcome : 0.7371869448054933

 var
surgery? : 0.24039864425040888
Age : 4.726153846153814
rectal temperature : 0.5362466875871686
pulse : 819.7087747035575
respiratory rate : 311.24832824663054
temperature of extremities : 1.0921372191863987
pain : 1.710705921712949
outcome : 0.5434445915916574

In [211]:
print(df['rectal temperature'].max())

40.8

In [209]:

for j in df.columns:
    df[j].describe()
    q1 = df[j].quantile(0.25)
    q3 = df[j].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5)*iqr
    upper_bound = q3 + (1.5)*iqr
    remove_outliers = df[df[j].between(lower_bound, upper_bound, inclusive=True)].sort_values(j)
    print(remove_outliers)
# df.info()

4.0
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
299       1.0    1                37.2   40.0              20.0
128       1.0    1                37.4   84.0              20.0
129       1.0    1                38.4   49.0               NaN
130       1.0    1                37.8   30.0              12.0
242       1.0    1                 NaN   36.0              32.0
..        ...  ...                 ...    ...               ...
147       2.0    1                38.0   44.0              12.0
149       2.0    1                38.7   48.0              24.0
153       2.0    1                38.6   48.0              20.0
93        2.0    1                 NaN    NaN               NaN
150       2.0    1                38.9   44.0              14.0

     temperature of extremities  pain  outcome
299                         NaN   NaN      3.0
128                         NaN   2.0      3.0
129                         NaN   NaN      1.0
130                         NaN   NaN      2.0
242                         1.0   5.0      2.0
..                          ...   ...      ...
147                         2.0   3.0      2.0
149                         NaN   1.0      1.0
153                         3.0   1.0      1.0
93                          3.0   5.0      2.0
150                         3.0   2.0      1.0

[299 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
0         2.0    1                38.5   66.0              28.0
189       1.0    1                38.3   60.0              16.0
190       1.0    1                37.1   40.0               8.0
192       1.0    1                38.2   48.0              18.0
193       1.0    1                 NaN   60.0              48.0
..        ...  ...                 ...    ...               ...
100       1.0    1                38.2   40.0              16.0
99        2.0    1                39.6  108.0              51.0
98        2.0    1                37.7   44.0              40.0
105       1.0    1                 NaN   70.0              36.0
299       1.0    1                37.2   40.0              20.0

     temperature of extremities  pain  outcome
0                           3.0   5.0      2.0
189                         3.0   2.0      1.0
190                         NaN   3.0      1.0
192                         1.0   3.0      1.0
193                         3.0   4.0      2.0
..                          ...   ...      ...
100                         3.0   1.0      1.0
99                          3.0   2.0      1.0
98                          2.0   1.0      1.0
105                         1.0   2.0      1.0
299                         NaN   NaN      3.0

[276 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
113       1.0    1                36.8   60.0              28.0
277       2.0    1                36.9   50.0              40.0
70        2.0    1                37.0   60.0              20.0
292       1.0    1                37.0   66.0              20.0
190       1.0    1                37.1   40.0               8.0
..        ...  ...                 ...    ...               ...
165       1.0    1                39.4  120.0              48.0
231       2.0    1                39.5   92.0              28.0
287       2.0    9                39.5   84.0              30.0
117       2.0    1                39.5    NaN               NaN
162       2.0    1                39.5   60.0              10.0

     temperature of extremities  pain  outcome
113                         NaN   NaN      2.0
277                         2.0   1.0      1.0
70                          3.0   3.0      3.0
292                         1.0   4.0      2.0
190                         NaN   3.0      1.0
..                          ...   ...      ...
165                         NaN   NaN      3.0
231                         3.0   5.0      2.0
287                         NaN   NaN      1.0
117                         3.0   3.0      3.0
162                         3.0   3.0      1.0

[226 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
130       1.0    1                37.8   30.0              12.0
232       1.0    1                38.5   30.0              18.0
203       2.0    1                37.2   36.0               9.0
276       1.0    1                38.0   36.0              16.0
242       1.0    1                 NaN   36.0              32.0
..        ...  ...                 ...    ...               ...
148       1.0    1                38.3  132.0               NaN
135       1.0    9                38.1  136.0              48.0
44        1.0    1                35.4  140.0              24.0
103       1.0    9                38.0  140.0              68.0
39        1.0    9                39.2  146.0              96.0

     temperature of extremities  pain  outcome
130                         NaN   NaN      2.0
232                         NaN   NaN      1.0
203                         1.0   2.0      1.0
276                         3.0   4.0      3.0
242                         1.0   5.0      2.0
..                          ...   ...      ...
148                         NaN   2.0      1.0
135                         3.0   5.0      2.0
44                          3.0   4.0      3.0
103                         1.0   3.0      1.0
39                          NaN   NaN      2.0

[271 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
190       1.0    1                37.1   40.0               8.0
203       2.0    1                37.2   36.0               9.0
140       1.0    1                38.1   44.0               9.0
89        2.0    1                38.3   42.0              10.0
162       2.0    1                39.5   60.0              10.0
..        ...  ...                 ...    ...               ...
220       1.0    1                39.2   88.0              58.0
20        1.0    1                39.9   72.0              60.0
23        1.0    9                38.3  130.0              60.0
185       1.0    1                38.5  120.0              60.0
248       1.0    1                38.0  108.0              60.0

     temperature of extremities  pain  outcome
190                         NaN   3.0      1.0
203                         1.0   2.0      1.0
140                         3.0   2.0      1.0
89                          1.0   1.0      1.0
162                         3.0   3.0      1.0
..                          ...   ...      ...
220                         4.0   5.0      3.0
20                          1.0   5.0      1.0
23                          NaN   2.0      1.0
185                         4.0   NaN      1.0
248                         2.0   4.0      1.0

[225 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
89        2.0    1                38.3   42.0              10.0
71        1.0    1                37.8   48.0              28.0
215       1.0    1                37.8   40.0              12.0
69        2.0    1                38.0   48.0              12.0
68        2.0    1                 NaN   52.0              16.0
..        ...  ...                 ...    ...               ...
108       1.0    1                38.7   60.0              32.0
142       1.0    1                 NaN  120.0               NaN
45        2.0    1                 NaN  120.0               NaN
151       1.0    1                39.3    NaN               NaN
240       1.0    1                38.0   90.0              30.0

     temperature of extremities  pain  outcome
89                          1.0   1.0      1.0
71                          1.0   1.0      1.0
215                         1.0   1.0      1.0
69                          1.0   1.0      1.0
68                          1.0   NaN      1.0
..                          ...   ...      ...
108                         4.0   4.0      3.0
142                         4.0   5.0      2.0
45                          4.0   5.0      2.0
151                         4.0   4.0      2.0
240                         4.0   5.0      2.0

[244 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
215       1.0    1                37.8   40.0              12.0
50        2.0    1                38.6   46.0               NaN
52        2.0    1                 NaN    NaN               NaN
241       1.0    1                38.2   52.0              16.0
61        2.0    1                38.5   60.0               NaN
..        ...  ...                 ...    ...               ...
247       1.0    1                38.1   88.0              24.0
46        1.0    1                37.9   60.0              15.0
45        2.0    1                 NaN  120.0               NaN
83        1.0    1                38.0    NaN              24.0
0         2.0    1                38.5   66.0              28.0

     temperature of extremities  pain  outcome
215                         1.0   1.0      1.0
50                          1.0   1.0      1.0
52                          1.0   1.0      1.0
241                         1.0   1.0      1.0
61                          2.0   1.0      1.0
..                          ...   ...      ...
247                         3.0   5.0      2.0
46                          3.0   5.0      1.0
45                          4.0   5.0      2.0
83                          3.0   5.0      2.0
0                           3.0   5.0      2.0

[245 rows x 8 columns]
     surgery?  Age  rectal temperature  pulse  respiratory rate  \
150       2.0    1                38.9   44.0              14.0
126       1.0    1                38.7    NaN               NaN
127       1.0    1                37.4   50.0              32.0
129       1.0    1                38.4   49.0               NaN
234       2.0    1                37.5   48.0              30.0
..        ...  ...                 ...    ...               ...
124       2.0    1                37.6   48.0              20.0
165       1.0    1                39.4  120.0              48.0
54        2.0    1                40.3  114.0              36.0
256       1.0    1                37.5   72.0               NaN
299       1.0    1                37.2   40.0              20.0

     temperature of extremities  pain  outcome
150                         3.0   2.0      1.0
126                         3.0   5.0      1.0
127                         3.0   4.0      1.0
129                         NaN   NaN      1.0
234                         4.0   NaN      1.0
..                          ...   ...      ...
124                         3.0   1.0      3.0
165                         NaN   NaN      3.0
54                          3.0   2.0      3.0
256                         2.0   2.0      3.0
299                         NaN   NaN      3.0

[299 rows x 8 columns]

# Задание №3

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 29.2 KB

In [222]:
df['surgery?'].fillna(2, inplace=True) # будем позитивны, положим, что отсутвие информарции о операции говорит о её отсутвии
df['rectal temperature'].fillna(37.8, inplace=True) # отсутвие инфы о температуре заменим нормальным значением
df['pulse'].fillna(35, inplace=True) # так как известно, что скорость биения сердца 30-40 ударов в минуту
df['respiratory rate'].fillna(9, inplace = True) # так как  normal rate is 8 to 10
df['temperature of extremities'].fillna(1, inplace = True )
df['pain'].fillna(2, inplace=True)# мне кажется, пропуск может говорить о том, что боль была неявная, тем не менее лошадь попала под в список данных
df['outcome'].fillna(1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 29.2 KB

# Доработка

In [43]:
new_df = pd.read_csv(URL, dtype=np.float64, header = None, na_values=['?'])
new_df.describe()

               0           1             2           3           4           5           6           7   ...          20          21          22          23            24           25           26          27
count  299.000000  300.000000  3.000000e+02  240.000000  276.000000  242.000000  244.000000  231.000000  ...  135.000000  102.000000  299.000000  300.000000    300.000000   300.000000   300.000000  300.000000
mean     1.397993    1.640000  1.085889e+06   38.167917   71.913043   30.417355    2.348361    2.017316  ...    2.037037    3.019608    1.551839    1.363333   3657.880000    90.226667     7.363333    1.670000
std      0.490305    2.173972  1.529801e+06    0.732289   28.630557   17.642231    1.045054    1.042428  ...    0.804905    1.968567    0.737187    0.481763   5399.513513   649.569234   127.536674    0.470998
min      1.000000    1.000000  5.184760e+05   35.400000   30.000000    8.000000    1.000000    1.000000  ...    1.000000    0.100000    1.000000    1.000000      0.000000     0.000000     0.000000    1.000000
25%      1.000000    1.000000  5.289040e+05   37.800000   48.000000   18.500000    1.000000    1.000000  ...    1.000000    2.000000    1.000000    1.000000   2111.750000     0.000000     0.000000    1.000000
50%      1.000000    1.000000  5.303055e+05   38.200000   64.000000   24.500000    3.000000    2.000000  ...    2.000000    2.250000    1.000000    1.000000   2673.500000     0.000000     0.000000    2.000000
75%      2.000000    1.000000  5.347275e+05   38.500000   88.000000   36.000000    3.000000    3.000000  ...    3.000000    3.900000    2.000000    2.000000   3209.000000     0.000000     0.000000    2.000000
max      2.000000    9.000000  5.305629e+06   40.800000  184.000000   96.000000    4.000000    4.000000  ...    3.000000   10.100000    3.000000    2.000000  41110.000000  7111.000000  2209.000000    2.000000

[8 rows x 28 columns]

In [104]:
new_df.head(50)

     0    1          2     3      4     5    6    7    8    9    10   11   12   13   14   15   16   17    18    19   20   21   22   23       24   25   26   27
0   2.0  1.0   530101.0  38.5   66.0  28.0  3.0  3.0  NaN  2.0  5.0  4.0  4.0  NaN  NaN  NaN  3.0  5.0  45.0   8.4  NaN  NaN  2.0  2.0  11300.0  0.0  0.0  2.0
1   1.0  1.0   534817.0  39.2   88.0  20.0  NaN  NaN  4.0  1.0  3.0  4.0  2.0  NaN  NaN  NaN  4.0  2.0  50.0  85.0  2.0  2.0  3.0  2.0   2208.0  0.0  0.0  2.0
2   2.0  1.0   530334.0  38.3   40.0  24.0  1.0  1.0  3.0  1.0  3.0  3.0  1.0  NaN  NaN  NaN  1.0  1.0  33.0   6.7  NaN  NaN  1.0  2.0      0.0  0.0  0.0  1.0
3   1.0  9.0  5290409.0  39.1  164.0  84.0  4.0  1.0  6.0  2.0  2.0  4.0  4.0  1.0  2.0  5.0  3.0  NaN  48.0   7.2  3.0  5.3  2.0  1.0   2208.0  0.0  0.0  1.0
4   2.0  1.0   530255.0  37.3  104.0  35.0  NaN  NaN  6.0  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  74.0   7.4  NaN  NaN  2.0  2.0   4300.0  0.0  0.0  2.0
5   2.0  1.0   528355.0   NaN    NaN   NaN  2.0  1.0  3.0  1.0  2.0  3.0  2.0  2.0  1.0  NaN  3.0  3.0   NaN   NaN  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
6   1.0  1.0   526802.0  37.9   48.0  16.0  1.0  1.0  1.0  1.0  3.0  3.0  3.0  1.0  1.0  NaN  3.0  5.0  37.0   7.0  NaN  NaN  1.0  1.0   3124.0  0.0  0.0  2.0
7   1.0  1.0   529607.0   NaN   60.0   NaN  3.0  NaN  NaN  1.0  NaN  4.0  2.0  2.0  1.0  NaN  3.0  4.0  44.0   8.3  NaN  NaN  2.0  1.0   2208.0  0.0  0.0  2.0
8   2.0  1.0   530051.0   NaN   80.0  36.0  3.0  4.0  3.0  1.0  4.0  4.0  4.0  2.0  1.0  NaN  3.0  5.0  38.0   6.2  NaN  NaN  3.0  1.0   3205.0  0.0  0.0  2.0
9   2.0  9.0  5299629.0  38.3   90.0   NaN  1.0  NaN  1.0  1.0  5.0  3.0  1.0  2.0  1.0  NaN  3.0  NaN  40.0   6.2  1.0  2.2  1.0  2.0      0.0  0.0  0.0  1.0
10  1.0  1.0   528548.0  38.1   66.0  12.0  3.0  3.0  5.0  1.0  3.0  3.0  1.0  2.0  1.0  3.0  2.0  5.0  44.0   6.0  2.0  3.6  1.0  1.0   2124.0  0.0  0.0  1.0
11  2.0  1.0   527927.0  39.1   72.0  52.0  2.0  NaN  2.0  1.0  2.0  1.0  2.0  1.0  1.0  NaN  4.0  4.0  50.0   7.8  NaN  NaN  1.0  1.0   2111.0  0.0  0.0  2.0
12  1.0  1.0   528031.0  37.2   42.0  12.0  2.0  1.0  1.0  1.0  3.0  3.0  3.0  3.0  1.0  NaN  4.0  5.0   NaN   7.0  NaN  NaN  1.0  2.0   4124.0  0.0  0.0  2.0
13  2.0  9.0  5291329.0  38.0   92.0  28.0  1.0  1.0  2.0  1.0  1.0  3.0  2.0  3.0  NaN  7.2  1.0  1.0  37.0   6.1  1.0  NaN  2.0  2.0      0.0  0.0  0.0  1.0
14  1.0  1.0   534917.0  38.2   76.0  28.0  3.0  1.0  1.0  1.0  3.0  4.0  1.0  2.0  2.0  NaN  4.0  4.0  46.0  81.0  1.0  2.0  1.0  1.0   2112.0  0.0  0.0  2.0
15  1.0  1.0   530233.0  37.6   96.0  48.0  3.0  1.0  4.0  1.0  5.0  3.0  3.0  2.0  3.0  4.5  4.0  NaN  45.0   6.8  NaN  NaN  2.0  1.0   3207.0  0.0  0.0  2.0
16  1.0  9.0  5301219.0   NaN  128.0  36.0  3.0  3.0  4.0  2.0  4.0  4.0  3.0  3.0  NaN  NaN  4.0  5.0  53.0   7.8  3.0  4.7  2.0  2.0   1400.0  0.0  0.0  1.0
17  2.0  1.0   526639.0  37.5   48.0  24.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
18  1.0  1.0  5290481.0  37.6   64.0  21.0  1.0  1.0  2.0  1.0  2.0  3.0  1.0  1.0  1.0  NaN  2.0  5.0  40.0   7.0  1.0  NaN  1.0  1.0   4205.0  0.0  0.0  1.0
19  2.0  1.0   532110.0  39.4  110.0  35.0  4.0  3.0  6.0  NaN  NaN  3.0  3.0  NaN  NaN  NaN  NaN  NaN  55.0   8.7  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
20  1.0  1.0   530157.0  39.9   72.0  60.0  1.0  1.0  5.0  2.0  5.0  4.0  4.0  3.0  1.0  NaN  4.0  4.0  46.0   6.1  2.0  NaN  1.0  1.0   2111.0  0.0  0.0  2.0
21  2.0  1.0   529340.0  38.4   48.0  16.0  1.0  NaN  1.0  1.0  1.0  3.0  1.0  2.0  3.0  5.5  4.0  3.0  49.0   6.8  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
22  1.0  1.0   521681.0  38.6   42.0  34.0  2.0  1.0  4.0  NaN  2.0  3.0  1.0  NaN  NaN  NaN  1.0  NaN  48.0   7.2  NaN  NaN  1.0  1.0   3111.0  0.0  0.0  2.0
23  1.0  9.0   534998.0  38.3  130.0  60.0  NaN  3.0  NaN  1.0  2.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN  50.0  70.0  NaN  NaN  1.0  1.0   3111.0  0.0  0.0  2.0
24  1.0  1.0   533692.0  38.1   60.0  12.0  3.0  3.0  3.0  1.0  NaN  4.0  3.0  3.0  2.0  2.0  NaN  NaN  51.0  65.0  NaN  NaN  1.0  1.0   3111.0  0.0  0.0  2.0
25  2.0  1.0   529518.0  37.8   60.0  42.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
26  1.0  1.0   530526.0  38.3   72.0  30.0  4.0  3.0  3.0  2.0  3.0  3.0  3.0  2.0  1.0  NaN  3.0  5.0  43.0   7.0  2.0  3.9  1.0  1.0   3111.0  0.0  0.0  1.0
27  1.0  1.0   528653.0  37.8   48.0  12.0  3.0  1.0  1.0  1.0  NaN  3.0  2.0  1.0  1.0  NaN  1.0  3.0  37.0   5.5  2.0  1.3  1.0  2.0   4122.0  0.0  0.0  1.0
28  1.0  1.0  5279442.0   NaN    NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN  NaN  NaN  2.0  2.0   4300.0  0.0  0.0  2.0
29  2.0  1.0   535415.0  37.7   48.0   NaN  2.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN  NaN  45.0  76.0  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
30  2.0  1.0   529475.0  37.7   96.0  30.0  3.0  3.0  4.0  2.0  5.0  4.0  4.0  3.0  2.0  4.0  4.0  5.0  66.0   7.5  NaN  NaN  2.0  1.0   4205.0  0.0  0.0  2.0
31  2.0  1.0   530242.0  37.2  108.0  12.0  3.0  3.0  4.0  2.0  2.0  4.0  2.0  NaN  3.0  6.0  3.0  3.0  52.0   8.2  3.0  7.4  3.0  1.0   2207.0  0.0  0.0  1.0
32  1.0  1.0   529427.0  37.2   60.0   NaN  2.0  1.0  1.0  1.0  3.0  3.0  3.0  2.0  1.0  NaN  4.0  5.0  43.0   6.6  NaN  NaN  1.0  1.0   2209.0  0.0  0.0  2.0
33  1.0  1.0   529663.0  38.2   64.0  28.0  1.0  1.0  1.0  1.0  3.0  1.0  NaN  NaN  NaN  NaN  4.0  4.0  49.0   8.6  2.0  6.6  1.0  1.0   2208.0  0.0  0.0  1.0
34  1.0  1.0   529796.0   NaN  100.0  30.0  3.0  3.0  4.0  2.0  5.0  4.0  4.0  3.0  3.0  NaN  4.0  4.0  52.0   6.6  NaN  NaN  1.0  1.0   1124.0  0.0  0.0  2.0
35  2.0  1.0   528812.0   NaN  104.0  24.0  4.0  3.0  3.0  2.0  4.0  4.0  3.0  NaN  3.0  NaN  NaN  2.0  73.0   8.4  NaN  NaN  3.0  1.0   7111.0  0.0  0.0  2.0
36  2.0  1.0   529493.0  38.3  112.0  16.0  NaN  3.0  5.0  2.0  NaN  NaN  1.0  1.0  2.0  NaN  NaN  5.0  51.0   6.0  2.0  1.0  3.0  2.0   5205.0  0.0  0.0  1.0
37  1.0  1.0   533847.0  37.8   72.0   NaN  NaN  3.0  NaN  1.0  5.0  3.0  1.0  NaN  1.0  NaN  1.0  1.0  56.0  80.0  1.0  2.0  1.0  1.0   3111.0  0.0  0.0  2.0
38  2.0  1.0   528996.0  38.6   52.0   NaN  1.0  1.0  1.0  1.0  3.0  3.0  2.0  1.0  1.0  NaN  1.0  3.0  32.0   6.6  1.0  5.0  1.0  2.0      0.0  0.0  0.0  1.0
39  1.0  9.0  5277409.0  39.2  146.0  96.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN  NaN  NaN  2.0  1.0   2113.0  0.0  0.0  2.0
40  1.0  1.0   529498.0   NaN   88.0   NaN  3.0  3.0  6.0  2.0  5.0  3.0  3.0  1.0  3.0  NaN  4.0  5.0  63.0   6.5  3.0  NaN  2.0  1.0   4205.0  0.0  0.0  2.0
41  2.0  9.0  5288249.0  39.0  150.0  72.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  47.0   8.5  NaN  0.1  1.0  1.0   9400.0  0.0  0.0  1.0
42  2.0  1.0   530301.0  38.0   60.0  12.0  3.0  1.0  3.0  1.0  3.0  3.0  1.0  1.0  1.0  NaN  2.0  2.0  47.0   7.0  NaN  NaN  1.0  2.0   3111.0  0.0  0.0  2.0
43  1.0  1.0   534069.0   NaN  120.0   NaN  3.0  4.0  4.0  1.0  4.0  4.0  4.0  1.0  1.0  NaN  NaN  5.0  52.0  67.0  2.0  2.0  3.0  1.0   3205.0  0.0  0.0  2.0
44  1.0  1.0   535407.0  35.4  140.0  24.0  3.0  3.0  4.0  2.0  4.0  4.0  NaN  2.0  1.0  NaN  NaN  5.0  57.0  69.0  3.0  2.0  3.0  1.0   3205.0  0.0  0.0  2.0
45  2.0  1.0   529827.0   NaN  120.0   NaN  4.0  3.0  4.0  2.0  5.0  4.0  4.0  1.0  1.0  NaN  4.0  5.0  60.0   6.5  3.0  NaN  2.0  1.0   3205.0  0.0  0.0  2.0
46  1.0  1.0   529888.0  37.9   60.0  15.0  3.0  NaN  4.0  2.0  5.0  4.0  4.0  2.0  2.0  NaN  4.0  5.0  65.0   7.5  NaN  NaN  1.0  1.0   2305.0  0.0  0.0  1.0
47  2.0  1.0   529821.0  37.5   48.0  16.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0  NaN  37.0   6.5  NaN  NaN  1.0  2.0      0.0  0.0  0.0  2.0
48  1.0  1.0   528890.0  38.9   80.0  44.0  3.0  3.0  3.0  2.0  2.0  3.0  3.0  2.0  2.0  7.0  3.0  1.0  54.0   6.5  3.0  NaN  2.0  1.0   7111.0  0.0  0.0  2.0
49  2.0  1.0   529642.0  37.2   84.0  48.0  3.0  3.0  5.0  2.0  4.0  1.0  2.0  1.0  2.0  NaN  2.0  1.0  73.0   5.5  2.0  4.1  2.0  2.0   4300.0  0.0  0.0  1.0

In [218]:
cut_df = new_df[[ 0,1, 3, 4, 5, 6, 10, 22]]
df_nm = cut_df.rename({0 : 'surgery?',1: 'Age', 3 : 'rectal temperature', 4 : 'pulse', 5 : 'respiratory rate', 6 :  'temperature of extremities', 10 : 'pain',22:'outcome'  }, axis = 1)
df_nm.head()

   surgery?  Age  rectal temperature  pulse  respiratory rate  temperature of extremities  pain  outcome
0       2.0  1.0                38.5   66.0              28.0                         3.0   5.0      2.0
1       1.0  1.0                39.2   88.0              20.0                         NaN   3.0      3.0
2       2.0  1.0                38.3   40.0              24.0                         1.0   3.0      1.0
3       1.0  9.0                39.1  164.0              84.0                         4.0   2.0      2.0
4       2.0  1.0                37.3  104.0              35.0                         NaN   NaN      2.0

In [191]:
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  299.000000  300.000000          240.000000  276.000000        242.000000                  244.000000  245.00000  299.000000
mean     1.397993    1.640000           38.167917   71.913043         30.417355                    2.348361    2.95102    1.551839
std      0.490305    2.173972            0.732289   28.630557         17.642231                    1.045054    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         18.500000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.200000   64.000000         24.500000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   88.000000         36.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

In [143]:
df_nm['rectal temperature'].max()

38.5

In [219]:
# заполним пункт surgery значением 2, если пункт боли был 4 или 5, в противном случае 1
df_nm['surgery?'] = df_nm.apply(
    lambda row: 2 if ((np.isnan(row['surgery?']) and row['pain']) > 3 ) 
    else 1 if (np.isnan(row['surgery?']) and row['pain'] <=3)
    else row['surgery?'],
    axis=1 )
# здесь я уже немного усложнил
df_nm['rectal temperature'] = df_nm.apply(lambda row: 37.8 if (row['temperature of extremities'] == 1  and np.isnan(row['rectal temperature']))  # если температура конечностей в норме, то нормальная температу
                                          else df_nm['rectal temperature'].min() if (row['temperature of extremities'] == 4 and np.isnan(row['rectal temperature'])) # если конечности ледяные, то миним температу
                                          else df_nm['rectal temperature'].quantile(0.25)  if (row['temperature of extremities'] == 3 and np.isnan(row['rectal temperature'])) # если конечности холодные, что квантиль 0.25
                                          else df_nm['rectal temperature'].quantile(0.5) if np.isnan(row['rectal temperature']) # остальные nan заполняем температурой выше нормы
                                          else row['rectal temperature'], # если nan нет, то без изменений
                                          axis = 1)
df_nm.describe()
# в результате такого заполнения увеличилось среднее значение на 0.1, на 0.05 стандартное отклонение, и квантиль 50% на 0.1

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  300.000000  300.000000          300.000000  276.000000        242.000000                  244.000000  245.00000  299.000000
mean     1.400000    1.640000           38.062333   71.913043         30.417355                    2.348361    2.95102    1.551839
std      0.490716    2.173972            0.782767   28.630557         17.642231                    1.045054    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         18.500000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.100000   64.000000         24.500000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   88.000000         36.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

In [220]:
def pulse_function(mov):
    if np.isnan(mov['pulse']):
        if mov['pain'] == 1:
            return df_nm['pulse'].min()
        elif mov['pain'] == 2:
            return df_nm['pulse'].quantile(0.25)
        elif mov['pain'] == 3:
            return df_nm['pulse'].quantile(0.5)
        elif mov['pain'] == 4:
            return df_nm['pulse'].quantile(0.75)
        else :
            return df_nm['pulse'].quantile(0.99)
    else:
        return mov['pulse']
df_nm['pulse'] = df_nm.apply(pulse_function, axis = 1)
# С таким подходом среднее значение увеличилось на 3, и стандартное отклонение увеличилось на 4
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  300.000000  300.000000          300.000000  300.000000        242.000000                  244.000000  245.00000  299.000000
mean     1.400000    1.640000           38.062333   75.805000         30.417355                    2.348361    2.95102    1.551839
std      0.490716    2.173972            0.782767   32.834354         17.642231                    1.045054    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         18.500000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.100000   66.000000         24.500000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   93.000000         36.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

In [228]:
def respiratory_function(mov):
    if np.isnan(mov['respiratory rate']):
        if mov['pulse'] < df_nm['pulse'].quantile(0.25) :
            return df_nm['respiratory rate'].quantile(0.15)
        elif  df_nm['pulse'].quantile(0.25) <= mov['pulse'] < df_nm['pulse'].quantile(0.5):
            return df_nm['respiratory rate'].quantile(0.4)
        elif df_nm['pulse'].quantile(0.5) <= mov['pulse'] < df_nm['pulse'].quantile(0.75):
            return df_nm['respiratory rate'].quantile(0.65)
        else:
            return df_nm['respiratory rate'].quantile(0.85)
    else:
        return mov['respiratory rate']
# при таком выборе среднее значение увелится на 0.5, а стандартное отклоненеи уменилось на 1
df_nm['respiratory rate'] = df_nm.apply(respiratory_function, axis = 1)
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  300.000000  300.000000          300.000000  300.000000        300.000000                  244.000000  245.00000  299.000000
mean     1.400000    1.640000           38.062333   75.805000         30.910000                    2.348361    2.95102    1.551839
std      0.490716    2.173972            0.782767   32.834354         16.320839                    1.045054    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         20.000000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.100000   66.000000         28.000000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   93.000000         40.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

In [231]:
def temp_of_ext(mov):
    if np.isnan(mov['temperature of extremities']):
        if mov['rectal temperature']<= df_nm['rectal temperature'].quantile(0.25):
            return df_nm['temperature of extremities'].quantile(0.25)
        elif  (df_nm['rectal temperature'].quantile(0.25) < mov['rectal temperature']<= df_nm['rectal temperature'].quantile(0.5)):
            return 2
        elif  (df_nm['rectal temperature'].quantile(0.5) < mov['rectal temperature']<= df_nm['rectal temperature'].quantile(0.75)):
            return df_nm['temperature of extremities'].quantile(0.75)
        else:
            return df_nm['temperature of extremities'].max()
    else:
        return mov['temperature of extremities']
df_nm['temperature of extremities']=df_nm.apply(temp_of_ext, axis = 1)
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities       pain     outcome
count  300.000000  300.000000          300.000000  300.000000        300.000000                  300.000000  245.00000  299.000000
mean     1.400000    1.640000           38.062333   75.805000         30.910000                    2.373333    2.95102    1.551839
std      0.490716    2.173972            0.782767   32.834354         16.320839                    1.050858    1.30794    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.00000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         20.000000                    1.000000    2.00000    1.000000
50%      1.000000    1.000000           38.100000   66.000000         28.000000                    3.000000    3.00000    1.000000
75%      2.000000    1.000000           38.500000   93.000000         40.000000                    3.000000    4.00000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.00000    3.000000

In [236]:
def pain_col(mov):
    if np.isnan(mov['pain']):
        if mov['pulse'] <= df_nm['pulse'].quantile(0.25):
            return df_nm['pain'].min()
        elif df_nm['pulse'].quantile(0.25) < mov['pulse'] <= df_nm['pulse'].quantile(0.5):
            return df_nm['pain'].quantile(0.25)
        elif df_nm['pulse'].quantile(0.5) < mov['pulse'] <= df_nm['pulse'].quantile(0.75):
            return df_nm['pain'].quantile(0.5)
        elif df_nm['pulse'].quantile(0.75) < mov['pulse'] <= df_nm['pulse'].quantile(0.99):
            return df_nm['pain'].quantile(0.75) 
        else:
            return df_nm['pain'].max() 
    else:
        return mov['pain']
df_nm['pain'] = df_nm.apply(pain_col, axis =1)
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities        pain     outcome
count  300.000000  300.000000          300.000000  300.000000        300.000000                  300.000000  300.000000  299.000000
mean     1.400000    1.640000           38.062333   75.805000         30.910000                    2.373333    2.873333    1.551839
std      0.490716    2.173972            0.782767   32.834354         16.320839                    1.050858    1.302412    0.737187
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.000000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         20.000000                    1.000000    2.000000    1.000000
50%      1.000000    1.000000           38.100000   66.000000         28.000000                    3.000000    3.000000    1.000000
75%      2.000000    1.000000           38.500000   93.000000         40.000000                    3.000000    4.000000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.000000    3.000000

In [238]:
# выжила лошадь или нет, предлагаю отдать определить случайно если была операция, в противном случае выжила
df_nm['outcome'] = df_nm.apply(lambda row: np.random.randint(1,4) if row['surgery?'] == 2 else 1, axis = 1 )
df_nm.describe()

         surgery?         Age  rectal temperature       pulse  respiratory rate  temperature of extremities        pain     outcome
count  300.000000  300.000000          300.000000  300.000000        300.000000                  300.000000  300.000000  300.000000
mean     1.400000    1.640000           38.062333   75.805000         30.910000                    2.373333    2.873333    1.623333
std      0.490716    2.173972            0.782767   32.834354         16.320839                    1.050858    1.302412    0.826883
min      1.000000    1.000000           35.400000   30.000000          8.000000                    1.000000    1.000000    1.000000
25%      1.000000    1.000000           37.800000   48.000000         20.000000                    1.000000    2.000000    1.000000
50%      1.000000    1.000000           38.100000   66.000000         28.000000                    3.000000    3.000000    1.000000
75%      2.000000    1.000000           38.500000   93.000000         40.000000                    3.000000    4.000000    2.000000
max      2.000000    9.000000           40.800000  184.000000         96.000000                    4.000000    5.000000    3.000000